{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h2 class="text-primary text-center">Свяжитесь с нами</h2>
        <p><strong>Город:</strong> Симферополь</p>
        <p><strong>Улица:</strong> ул. Ракетная, 12</p>
        <p><strong>Email:</strong> <a href="mailto:info@example.com" class="text-info">info@example.com</a></p>
        <p><strong>Телефон:</strong> +7 4652 123-45-67</p>
    </div>
</div>
{% endblock %}
