{% extends "base.html" %}
{% load static %}  <!-- 🔹 Загружаем модуль static -->
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center text-primary">{{ product.name }}</h1>
        <div class="card shadow-lg p-4">
            <div class="text-center">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="Нет изображения" class="img-fluid">
                {% endif %}
            </div>
            <p><strong>Категория:</strong> {{ product.category.name }}</p>
            <p><strong>Описание:</strong> {{ product.description }}</p>
            <p><strong>Цена:</strong> {{ product.purchase_price }} ₽</p>
            <a href="{% url 'catalog:home' %}" class="btn btn-primary">Назад к списку товаров</a>
        </div>
    </div>
{% endblock %}
